@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-headline: 'Manrope', sans-serif;
  --font-body: 'Inter', sans-serif;
  
  --color-primary: var(--primary);
  --color-surface: var(--surface);
  --color-on-surface: var(--on-surface);
  --color-surface-container: var(--surface-container);
  --color-outline-variant: var(--outline-variant);
}

:root {
  --primary: #0058be;
  --surface: #f8f9fa;
  --on-surface: #191c1d;
  --surface-container: #ffffff;
  --outline-variant: #c2c6d6;
}

.dark {
  --primary: #adc6ff;
  --surface: #020617;
  --on-surface: #f8fafc;
  --surface-container: #0f172a;
  --outline-variant: #1e293b;
  
  color-scheme: dark;
}

@layer base {
  html {
    scrollbar-gutter: stable;
  }

  body {
    @apply bg-surface text-on-surface font-body antialiased transition-colors duration-300;
    margin: 0;
  }
}